{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">HP Sand Volleyball {{ year }}</h2>

  </div> <!-- row -->

  <div class="row">


  <form class="form-horizontal" action="admin" method="post">
  <div class="col-sm-12">
    <button id="holidays" name="action" type="submit" class="btn btn-primary btn-block" value="Holidays">Set Holidays
    </button>
    <!-- Committed -->
    <div class="panel panel-success">
      <div class="panel-heading">
        Players
        <span class="badge pull-right">{{ player_list|length }}</span> 
      </div>
      <table class="table table-hover">
      {% if player_list|length %}
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Rank</th>
            <th>Score</th>
          </tr>
          {% for player in player_list %}
          <tr>
            <td><a href="fto?pid={{player.id}}">{{loop.index}}</a></td>
            <td>
                <input type="text" class="form-control" id="name-{{player.id}}" name="name-{{player.id}}" value="{{player.name}}"></input>
            </td>
            <td>
                <input type="text" class="form-control" id="email-{{player.id}}" name="email-{{player.id}}" value="{{player.email}}"></input>
            </td>
            <td>
                <input type="text" class="form-control" id="phone-{{player.id}}" name="phone-{{player.id}}" value="{{player.phone}}"></input>
            </td>
            <td>
                <input type="text" class="form-control" id="rank-{{player.id}}" name="rank-{{player.id}}" value="{{loop.index}}"></input>
            </td>
            <td>
                <input type="text" class="form-control" id="score-{{player.id}}" name="score-{{player.id}}" value="{{player.elo_score}}"></input>
            </td>
          </tr>
        {% endfor %}
      {% else %}
          <tr>
            <td class="text-center" colspan="2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
          </tr>
      {% endif %}
      </table>
    	<div class="panel-body">
			<button id="submit" name="action" type="submit" class="btn btn-success btn-block" value="Submit">
				<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Submit Changes
			</button>
     	</div>
    </div>
  </div>
	<input type="hidden" name="y" value={{year}}></input>
  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}