{% extends "base.html" %}
{% block title %}Daily Schedule{% endblock %}
{% block content %}
<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

    <div class="row">

    <h2 class="page-header">HP Sand Volleyball {{ year }}</h2>

    </div>

    <div class="row">
        <H4>Schedule for {{schedule_day.strftime("%A %-m/%-d")}}</H4>
    </div>
    {% if games %}
    {% for g in range(3) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Game {{g+1}}
        </div>
        <div class="panel-body">
         {% for t in range(2) %}
	        	<ul class="list-group">
	        		<li class="list-group-item list-group-item-success"><div class="col-sm-6">Team {{t+1}}</div><div class="input-group col-sm-6"><span class="input-group-addon input-primary" id="ba1">Score</span><input class="form-control" aria-describedby="ba1" name="score-{{g+1}}-{{t+1}}"></input></div></li>
		            {% for p in game_team[g][t] %}
		            <li class="list-group-item">{{p}}</li>
		            {% endfor %}
	            </ul>
	    {% endfor %}
	    </div>
    </div>
    {% endfor %}
    <button class="btn btn-block btn-success" type="submit" value="scores">Submit Scores</button>
    {% else %}
    <p class="text-danger"><strong>There are no matches scheduled for this day.</strong></p>
    {% endif %}
</div>

<div class="col-md-2">
</div>

{% endblock %}