{% extends "base.html" %}
{% block title %}FTO{% endblock %}
{% block content %}

// script.js
document.addEventListener("DOMContentLoaded", function() {
    const squares = document.querySelectorAll(".square");

    squares.forEach(square => {
        square.addEventListener("click", function() {
            square.classList.toggle("red");
            square.classList.toggle("green");

            // Update the corresponding checkbox value (assuming it's a binary value)
            const weekData = square.getAttribute("data-week");
            const [week, day] = weekData.split("-");
            const checkbox = document.querySelector(`input[name="${week}-${day}"]`);
            checkbox.checked = !checkbox.checked;
        });
    });
});

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">HP Sand Volleyball {{ year }}</h2>

  </div> <!-- row -->

  <div class="row">

  <form class="form-horizontal" action="fto" method="post">
  <div class="col-sm-12">

    <!-- Committed -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <H4>{{ player.name }}'s Schedule Restrictions</H4>
      </div>
	  <div>
		<p>Please check the time slots when you are <strong>unavailable</strong> to play. If you are gone all week, check all five slots. The system will automatically add holidays and global conflicts to your list.</p>
		<p class="text-danger"><strong>If you are only available to play on one day, the system will automatically place you on a bye for that week. In order to have a chance to be scheduled, you must be available to play on at least two days. The more days you are available, the more likely you will be scheduled to play.</strong></p>
	  </div>
      <table class="table table-striped table-condensed">
        <tr>
            <td></td>
            <th><div style="vertical-align:middle; text-align:center">Mon @ 12</div></thd>
            <th><div style="vertical-align:middle; text-align:center">Tue @ 12</div></th>
            <th><div style="vertical-align:middle; text-align:center">Wed @ 12</div></th>
            <th><div style="vertical-align:middle; text-align:center">Thu @ 12</div></th>
            <th><div style="vertical-align:middle; text-align:center">Fri @ 12</div></th>
        </tr>
        {% for week in weeks %}
        <tr>
            <th>Week {{ loop.index }} <small>({{ week }})</small></th>
            <td><div class="square {% if fto_week[loop.index-1][0] %}green{% else %}red{% endif %}" data-week="{{ loop.index }}-1"></div></td>
            <td><div class="square {% if fto_week[loop.index-1][1] %}green{% else %}red{% endif %}" data-week="{{ loop.index }}-2"></div></td>
            <td><div class="square {% if fto_week[loop.index-1][2] %}green{% else %}red{% endif %}" data-week="{{ loop.index }}-3"></div></td>
            <td><div class="square {% if fto_week[loop.index-1][3] %}green{% else %}red{% endif %}" data-week="{{ loop.index }}-4"></div></td>
            <td><div class="square {% if fto_week[loop.index-1][4] %}green{% else %}red{% endif %}" data-week="{{ loop.index }}-5"></div></td>
        </tr>
        {% endfor %}
       </table>{%
      if user %}{%
	  if player.id != user.user_id() %}
	  <input type="hidden" name="pid" value="{{player.id}}"></input>{%
	  endif %}{%
	  endif %}
      <button id="save" name="action" type="submit" class="btn btn-success btn-block" value="Save">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Save
      </button>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}