{% extends "base.html" %}
{% block title %}Log{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-sm-12 col-md-8"> <!-- center col -->

  <h2 class="page-header">Log</h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="badge">{{ entries|length }}</span> 
      History
    </div>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Week</th>
        <th>Slot</th>
      </tr>
      {% for entry in entries %}
        <tr>
          <td>{{ entry.name }}</a></td>
          <td>{{ entry.week }}</td>
          <td>{{ entry.slot }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}
