{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-sm-12 col-md-8"> <!-- center col -->

 <h2 class="page-header">Rules</h2>
    
  <div class="panel panel-default">
    <div class="panel-body">There are many volleyball rules. They are not all listed here. Those listed are the rules which people have asked questions about in the past and/or may be unique for HP sand volleyball.
	<ul>
		<li>If any part of the ball touches the boundary line, the ball is considered IN. Sand kicked up by the ball does not count as part of the ball.</li>
		<li>The net is not to be touched by a player. If the net is pushed into a player by the ball, that is not considered a net touch. Loose hair or clothing touching the net is okay.</li>
		<li>The ball can be played off of any part of the body, including feet.</li>
		<li>Serves cannot ever be hand-passed. If both hands are used to receive a serve, the hands must be in contact with each other.</li>
		<li>The first contact of a driven ball on a side can be multi-touch as long as there is not prolonged contact and the contact occurs in one continuous motion. The determining factor of a driven ball is reaction time. If you have enough time to consider how to play the ball, you must play the ball cleanly. This includes block deflections as well as clean hits.</li>
		<li>Blocks do not count as one a team's three touches.</li>
		<li>Blockers may not interfere with a setter's set. Either by contacting the ball or the setter.</li>
		<li>Blockers may extend over the net to block a ball that is traveling over the net unless the blocker interferes with a set.</li>
		<li>There are no open hand dinks allows. This includes "directional blocks". One-handed overkills are not considered "directional blocks".</li>
		<li>Players may pass under the net as long as they do not interfere with the opposing team. The entire foot must land beyond the plane of the net and interfere with the opposing team to be considered an infraction.</li>
		<li>When hand-setting, the ball must make fewer than <strong>two</strong> rotations. The ball must be handled cleanly. Two-handed hits are not sets, they are double-hits. If you are unsure as to what constitutes a clean set, don't even try. Bump sets are always okay.</li>
		<li>Hand-sets cannot travel over the net. This includes dumps. If a hand-set is on the net plane and the defensive team contacts the ball first, that is considered a side-set and the defensive team is awarded the point.</li>
		<li>A first-contact hand pass of a driven ball is not considered a set and therefore <strong>can</strong> legally pass over the net.</li>
		<li>"Pancake" digs are allowed as long as the hand is completely under the ball. Even if the ball touches sand.</li>
		<li>Serves that touch the net are live. Play on!</li>
		<li>The metal poles are considered out-of-bounds. If the ball touches one, it is out.</li>
		<li>The ball must clearly pass between the metal poles when passing over the net.</li>
		<li><strong>When in doubt about a call, just replay the point.</strong></li>
		<li><strong>If a rule is unspecified or unclear, decide for the match how the rule will be enforced and replay the point. After the match, contact the league coordinator for clarification.</strong></li></ul>
	</div>
  </div>

    
<h1 class="page-header">FAQ</h1>
    
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Where do you play?</h4></div>
    <div class="panel-body">On the sand courts between buildings 5 and 6.</div>
  </div>
    
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">When do games start?</h4></div>
    <div class="panel-body">Check your schedule, but usually at noon.</div>
  </div>
    
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Where are the balls stored?</h4></div>
    <div class="panel-body">In building 3, in or around a file cabinet under the stairs in the southern stairwell. <strong>Please return the balls when your match is complete!</strong></div>
  </div>

</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}
