{% extends "base.html" %}
{% block title %}Log{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-sm-12 col-md-8"> <!-- center col -->

  <div class="page-header">
    <h2>Log</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="badge">{{ entries|length }}</span> 
      History
    </div>
    <table class="table table-hover">
      <tr>
        <th class="text-center">#</th>
        <th>Player</th>
        <th>Comment</th>
        <th>Date</th>
      </tr>
      {% for entry in entries %}
        <tr>
          <td class="text-center">{{ loop.index }}</td>
          <td><a href="mailto:{{ entry.player.email }}">{{ entry.player.name }}</a></td>
          <td>{{ entry.comment }}</td>
          <td>{{ entry.date }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}
