{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">Messages</h2>

  </div> <!-- row -->

  <div class="row">

    <div class="panel panel-default">
    	<div class="panel-body">
			<p>Welcome to the 2023 HP Sand Volleyball League! Remember, I'm continuously working on the site so if things break it's probably because I'm working on something and things will get fixed quickly. Please be patient.</p>
			<p>Right now we have <a href="signup">signups</a> working and you can enter your <a href="fto">schedule restrictions</a> once you've signed up. To navigate, use the menu at the top of the page. Go ahead and log in using your Google account, then sign up by providing your name and notification email.</p>
			<p>The <a href="week">Schedule</a> and <a href="day">Scores</a> pages are where you go to see the weekly and daily schedules. On the <a href="week">Schedule</a> page, click on a day to see the game schedule and score entry form.</p>
			<p class="text-danger"><strong>The weekly schedule will automatically generate at 2pm on Fridays. So be sure to get your scores into the system right after your match. Especially on Fridays. Finally, be sure to have your FTO/conflicts in the system before the schedule generates on Friday. Otherwise you may be scheduled for a match you can't make.</strong></p>
			<p><strong>Subs:</strong> If you cannot make a match, there is a button to press on the Weekly Schedule page to ask for a substitute. The system will send an email to the group and if someone can play, they will click a link and the system will make the swap.</p>
			<p class="bg-info"><strong class="text-danger">If you don't show up to your match, your opposite/rival cannot play either.</strong> This will keep the teams even, and hopefully incentivize you and your opposite/rival to make sure you both show up!</p>
			<p class="bg-info">Anyone can sub for anyone! Even if you've already played or are scheduled to play that week! Full teams FTW!</p>
			<p class="bg-info">In order to accomodate players of all levels of ability, we are using a tier system. Players will be initially seeded into tiers based on previous season results. Each week, the results will be analyzed and the ELO scores of each player will be updated and the new tiers will be based on the new ELO rankings. This should create a self-correcting system that allows everyone to play and contribute at their level of skill. New players will start at the bottom, but can quickly move up by winning.</p>
			<p>Let's have some fun!<br>
			- Brian -</P>
     	</div>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}