{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">Messages</h2>

  </div> <!-- row -->

  <div class="row">

    <div class="panel panel-default">
    	<div class="panel-body">
			<p>Welcome to the 2018 HP Sand Volleyball League! As you can see, we have a new website! I'm continuosly working on the site so if things break it's probably because I'm working on something and things will get fixed quickly. Please be patient.</p>
			<p>Right now we have <a href="signup">signups</a> working and you can enter your <a href="fto">schedule restrictions</a> once you've signed up. To navigate, use the menu at the top of the page. Go ahead and log in using your Google account, then sign up by providing your name, notification email, and phone number. You phone number won't be visible to anyone else or shared. We may use SMS for updates and last-minute changes, so if you don't want SMS messages, don't provide your phone number.</p>
			<p class="bg-info">The <a href="week">Schedule</a> and <a href="day">Scores</a> pages are now active. On the <a href="week">Schedule</a> page, click on a day to see the game schedule and score entry form.</p>
			<p class="bg-info text-danger"><strong>The weekly schedule will automatically generate at 2pm on Fridays. So be sure to get your scores into the system right after your match. Especially on Fridays. Finally, be sure to have your FTO/conflicts in the system before the schedule generates on Friday. Otherwise you may be scheduled for a match you can't make.</strong></p>
			<p class="bg-info"><strong>Subs:</strong> If you cannot make a match, there is a button to press on the Weekly Schedule page. The system will send an email to the alternate(s) and if one of them can play, they will click a link and the system will make the swap. Otherwise, your position will go unfilled, your team will probably lose, and you will end up relegated down a tier.</p>
			<p>This year will be a bit different from previous years. In order to accomodate players of all levels of ability, we are implementing a tier system. Players will be seeded into tiers based on last year's results. Each week, the top two players in each tier will move up a tier. The bottom two will move down a tier. This should create a self-correcting system that allows everyone to play and contribute at their level of skill. New players will start at the bottom.</p>
			<p>The player rankings are roughly based on the ELO method. These rankings are completely separate from the tier/scheduling system. In order to get some good mixing of players, the scheduling system re-orders players much more drastically than the standings. <a href="standings">The standings page is here.</a></p>
			<p>Suzie Dustin has donated a $100 gift card as a prize for the top team! Since we don't really have teams, I'm thinking the top 8 players based on standings at the end of the year can all go out to lunch for pizza. The <a href="standings">standings page</a> updates every Friday at ~2pm.</p>
			<p>Here's to an amazing season!<br>
			- Brian -</P>
     	</div>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}