{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">HP Sand Volleyball {{ year }}</h2>

  </div> <!-- row -->

  <div class="row">

    <div class="panel panel-default">
    	<div class="panel-heading">
    		News and/or Announcements
    	</div>
    	<div class="panel-body">
			<p>Welcome to the 2018 HP Sand Volleyball League! As you can see, we have a new website! I'm continuosly working on the site so if things break it's probably because I'm working on something and things will get fixed quickly. Please be patient.</p>
			<p>Right now we have <a href="signup">signups</a> working and you can enter your <a href="fto">schedule restrictions</a> if you've signed up. So go ahead, log in using your Google account, then sign up providing your name, notification email, and phone number. You phone number won't be shared. Only you will be able to see it on the roster. We may use SMS for updates and last-minute changes, so if you don't want SMS messages, don't provide your phone number.</p>
			<p>This year will be a bit different from previous years. In order to accomodate players of all levels of ability, we are implementing a tier system. Players will be seeded into tiers based on last year's results. Each week, the top two players in each tier will move up a tier. The bottom two will move down a tier. This should create a self-correcting system that allows everyone to play and contribute at their level of skill.</p>
			<p>There will be player rankings roughly based on the Elo method. These rankings are separate from the tier system, although they should roughly correlate.</p>
			<p>I have not decided what to do for the end of the season. We could take the top 24 players again and draft teams and play a season-ending tournament. Or we could play the regular season for a few more weeks. Or maybe even something else entirely. I'm open to suggestions.</P>
     	</div>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}