{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->
  <div class="row">
  <h2 class="page-header">Sign Up</h2>
  </div>

  <div class="row">
  {% if is_signed_up %}
  <form class="form-horizontal" action="unsignup" method="post">
  {% else %}
  <form class="form-horizontal" action="signup" method="post">
  {% endif %}
  <div class="col-sm-12">

    <!-- Committed -->
    <div class="panel panel-success">
      <div class="panel-heading">
        Registered Players
        <span class="badge pull-right">{{ player_list|length }}</span> 
      </div>
      <table class="table table-hover">
      {% if player_list|length %}
        {% for player in player_list %}
          <tr>
            <td>{{ loop.index }}</td>
            {% if is_signed_up %}<td><a href="mailto:{{ player.email }}">{{player.name}}</a></td>
            {% else %}<td>{{player.name}}</td>
            {% endif %}
            <td>{% if user %}{% if player.id == user.user_id() %}Phone #: {{ player.phone }}{% endif %}{% endif %}</td>
          </tr>
        {% endfor %}
      {% else %}
          <tr>
            <td class="text-center" colspan="2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
          </tr>
      {% endif %}
      </table>
    </div>


    <div class="panel panel-default">
    	<div class="panel-heading">
    		Player Signup Form
    	</div>
    	<div class="panel-body">


			{% if login.logged_in %}
			{% if is_signed_up %}
            <p>If you need to modify your player information (e.g. name, email or phone number), contact the administrator.</p>
			<p>You can only decommit if the initial schedule hasn't yet posted. Once the schedule has been posted, if you want to quit, you must set your personal schedule to absent for the remaining weeks.</p>
            {% if not active_schedule %}
			<button id="commit" name="action" type="submit" class="btn btn-danger btn-block" value="Commit">
	        	<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Decommit</button>
			{% else %}
			<button id="commit" name="action" type="submit" class="btn disabled btn-block" value="Commit">
	        	<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Decommit</button>
			{% endif %}
	    	{% else %}
			<H3 class="text-danger">This activity presents the risk of injury. This exculpatory release confirms that the participant who commits below accepts all aspects of that risk.</H2>
			<div>
			<ol>
				<li>I acknowledge and agree that my participation in the above activity has not been, nor is, a condition of my employment for Hewlett-Packard Company (HP), Agilent Technologies (Agilent) or wholly owned subsidiaries of either company. My participation is entirely voluntary and not part of my work related duties.
				<li>I recognize that the activity presents risks and hazards, known and unknown. I am participating in the activity voluntarily, knowing it may result in injury to myself or others. In the event of injury, I understand that there may be coverage under my personal health insurance policy and that Worker's Compensation coverage may not be applicable in the state where I work.
				<li>In view of HP and Agilent's voluntary contribution of equipment, facilities, and/or funds, and as a condition of my participation in this activity, I assume all risk, responsibility and liability for injury (including death) or damage to my person or property of myself or the persons or property of others, including my family, that may arise in connection with the activity. I further agree to release, discharge, and indemnify HP and Agilent, its employees (whether or not acting within the scope of their employment), agents and contractors from all claims or liability for any such injury or damage, regardless of whether they may be wholly or partly negligent or otherwise at fault.
				<li>In addition, I also agree to indemnify and hold harmless HP and Agilent, its employees, agents and contractors from all loss, cost (including attorneys’ fees), expense, damage, claims or liability due to my alleged negligence or fault, including claims or liability relating to injury to others.
				<li>By signing this release, I certify that I have read and understood it; it binds me, my family, and my heirs, representatives, successors and assigns; and it comprises the entire agreement relating to this subject, superseding and other agreements, representations, inducements or understandings, whether written or oral. I acknowledge that no HP or Agilent employee has authority to waive or modify the provisions of this release except in a written agreement signed by an officer or General Manager of the above said companies.
			</ol>
			<H3 class="text-danger">By committing to join the HP Sand Volleyball League, you certify that you have read the above liability release statement and fully understand and accept all aspects of that risk.</H2>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-10">
				<input type="text" class="form-control" id="name" name="name" placeholder="First and Last"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-10">
				<input type="text" class="form-control" id="email" name="email" placeholder="Wherever you want your schedule and notifications to be sent."></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="phonenumber">Phone Number:</label>
				<div class="col-sm-10">
				<input type="tel" class="form-control" id="phonenumber" name="phonenumber" placeholder="Your number will not be visible to others or shared. For SMS notifications only. Not required."></input>
				</div>
			</div>
            <input type="hidden" name="count" value="{{player_list|length+1}}"></input>
			<button id="commit" name="action" type="submit" class="btn btn-success btn-block" value="Commit">
				<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Commit
			</button>
	        {% endif %}
			{% else %}
			<a role="button" class="btn btn-default btn-block" href="{{ login.url }}">Login to sign up</a>
			{% endif %}
     	</div>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}