{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-10"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">HP Sand Volleyball <small>{{ date }}</small></h2>

  </div> <!-- row -->

  <div class="row">

  {% if is_signed_up %}
  <form class="form-horizontal" action="unsignup" method="post">
  {% else %}
  <form class="form-horizontal" action="signup" method="post">
  {% endif %}
  <div class="col-md-8">

    <!-- Committed -->
    <div class="panel panel-success">
      <div class="panel-heading">
        Committed Players
        <span class="badge pull-right">{{ entries_c|length }}</span> 
      </div>
      <table class="table table-hover">
      {% if entries_c|length %}
        {% for entry in entries_c %}
          <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td><a href="mailto:{{ entry.player.email }}">{{entry.player.name}}</a></td>
          </tr>
        {% endfor %}
      {% else %}
          <tr>
            <td class="text-center" colspan="2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
          </tr>
      {% endif %}
      </table>
	  <div class="well">
		<table class="table table-hover">
		<tr>
			<td>First Name<br>
			<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name"></input>
			</td>
			<td>Last Name<br>
			<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name"></input>
			</td>
		</tr>
		<tr>
			<td colspan="2">Contact Email<br>
			<input type="text" class="form-control" id="email" name="email" placeholder="Email Address"></input>
			</td>
		</tr>
		<tr>
			<td colspan="2">Phone Number (in case we need to notify you of a last minute change.)<br>
			<input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number"></input>
			</td>
		</tr>
		</table>
      </div>
      {% if login.logged_in %}
      <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            {% if is_signed_up %}
              {% if signed_up_entry.committed %}
                <button id="commit" name="action" type="submit" class="btn btn-danger" value="Commit">
                  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Unsignup
                </button>
              {% else %}
                <button id="commit" name="action" type="submit" class="btn btn-success disabled">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Commit
                </button>
              {% endif %}
            {% else %}
              <button id="commit" name="action" type="submit" class="btn btn-success" value="Commit">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Commit
              </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>

  </div>

  </form>
  </div> <!-- row -->

{% if not login.logged_in %}

  <!-- Login Form -->
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <a role="button" class="btn btn-default btn-block" href="{{ login.url }}">Login to sign up</a> 
    </div>
    <div class="col-md-2">
    </div>
  </div> <!-- row -->

{% endif %}

</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}