{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-sm-12 col-md-8"> <!-- center col -->

  <div class="row">

    <div class="page-header">
      <h2>{{ vball_type.title() }} Signups: <small>{{ date }}</small></h2>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="badge">{{ entries_c|length }}</span> 
        Committed Players
      </div>
      {% if entries_c|length %}
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Player</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries_c %}
          <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td><a href="mailto:{{ entry.player.email }}">{{entry.player.name}}</a></td>
            <td>{{ entry.comment }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="panel-body">
        <i>No committed players</i>
      </div>
      {% endif %}
    </div>

  </div> <!-- row -->

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="badge">{{ entries_m|length }}</span> 
        Maybe Players
      </div>
      {% if entries_m|length %}
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Player</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries_m %}
          <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td><a href="mailto:{{ entry.player.email }}">{{entry.player.name}}</a></td>
            <td>{{ entry.comment }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="panel-body">
        <i>No maybe players</i>
      </div>
      {% endif %}
    </div>

  </div> <!-- row -->

{% if login.logged_in %}
{% if is_signed_up %}

<!-- Unsignup Form -->
  <div class="row">

    <form class="form-horizontal" action="{{ vball_type }}/unsignup" method="post">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          {% if signed_up_entry.committed %}
            <button id="commit" name="action" type="submit" class="btn btn-success disabled">
              <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Committed
            </button>
          {% else %}
            <button id="maybe" name="action" type="submit" class="btn btn-default disabled">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Maybe
            </button>
          {% endif %}
        </div>
        <div class="btn-group" role="group">
          <button id="unsignup" name="action" type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Unsignup
          </button>
        </div>
      </div>
    </form>

  </div> <!-- row -->

{% else %}

  <!-- Signup Form -->
  <div class="row">

    <form class="form-horizontal" action="{{ vball_type }}/signup" method="post">
      <div class="well">
         <input id="comment" name="comment" type="text" class="form-control" placeholder="Snarky and/or informative comment">
      </div>
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button id="maybe" name="action" type="submit" class="btn btn-default" value="Maybe">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Maybe
          </button>
        </div>
        <div class="btn-group" role="group">
          <button id="commit" name="action" type="submit" class="btn btn-success" value="Commit">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Commit
          </button>
        </div>
      </div>
    </form>

  </div> <!-- row -->

{% endif %}
{% else %}

  <!-- Login Form -->
  <div class="row">
    <a role="button" class="btn btn-primary btn-block" href="{{ login.url }}">Login to sign up</a> 
  </div> <!-- row -->

{% endif %}

  <div class="row">
    <h3>Comments</h3>
    {% for post in entries_p %}
    <div class="panel panel-default container-fluid">
      <div class="panel-heading row">
        <div class="col-xs-7">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="mailto:{{ post.email }}">{{post.name}}</a>
        </div>
        <div class="col-xs-5 text-right">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          {{ post.date }}
        </div>
      </div>
      <div class="panel-body">
        {{ post.comment }}
      </div>
    </div>
    {% endfor %}

  </div>

{% if login.logged_in %}
  <div class="row">
    <form class="form" action="{{ vball_type }}/chat" method="post">
      <div class="form-group">
        <div class="well">
          <textarea class="form-control" id="comment" name="comment" rows="2" placeholder="Post a comment..."></textarea>
        </div>
        <div class="btn-group pull-right" role="group">
         <button id="chat" name="chat" type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Post Comment
         </button>
        </div>
      </div>
    </form>
  </div> <!-- row -->
{% endif %}

</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}
