{% extends "base.html" %}
{% block title %}Store{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-sm-12 col-md-8"> <!-- center col -->

  <h2 class="page-header">Store</h2>

  <div>
    <p>
      Below are some great volleyball products that are highly recommended by the HP volleyball community.
      Just click on the image link to buy from Amazon.  All affiliate proceeds go to the HP volleyball crew.
    </p>
  </div>

  <hr />
  <div class="media">
    <div class="media-left">
      <a target="_blank"  href="https://www.amazon.com/gp/product/B000RMDX7S/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000RMDX7S&linkCode=as2&tag=scratch0679-20&linkId=367ba48f06d26b6233e56d19c5491906"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000RMDX7S&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=scratch0679-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=scratch0679-20&l=am2&o=1&a=B000RMDX7S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Jackson 3013538 KC25704 Nemesis VL Safety Glasses</h4>
      This babies are the "be all end all" of volleyball sunglasses.  If you get hit in the face, they will <b>NOT</b> break and 
      your face will <b>NOT</b> bleed.  Oh, and they also shade the sun from your eyes.
    </div>
  </div>
 
  <hr />
  <div class="media">
     <div class="media-body">
      <h4 class="media-heading">Park &amp; Sun Sports Spectrum Classic: Portable Professional Outdoor Volleyball Net</h4>
      This net is the best.  Don't buy the cheaper version because it is not nearly as well built.  These things
      can withstand multiple serves/hits/people in the net and are impervious to goose poop.
    </div>
    <div class="media-right">
      <a target="_blank"  href="https://www.amazon.com/gp/product/B0009PVUOG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0009PVUOG&linkCode=as2&tag=scratch0679-20&linkId=84fb9cb4a00d97e3e196e94c2fcb4230"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0009PVUOG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=scratch0679-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=scratch0679-20&l=am2&o=1&a=B0009PVUOG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
  </div>

  <hr />
  <div class="media">
    <div class="media-left">
      <a target="_blank"  href="https://www.amazon.com/gp/product/B00ANSGLUC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ANSGLUC&linkCode=as2&tag=scratch0679-20&linkId=95bfb4336a82a6b37ffd74f33500a58c"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00ANSGLUC&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=scratch0679-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=scratch0679-20&l=am2&o=1&a=B00ANSGLUC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Spalding King of the Beach/USA Beach Official Tour Volleyball</h4>
      Great outdoor ball.  Works best after a thin coating of goose poop has been evenly applied.
    </div>
  </div>

  <hr />
  <div class="media">
     <div class="media-body">
      <h4 class="media-heading">Small Dual Action Ball Pump</h4>
      It's a pump that will fit in your bag baby.
    </div>
    <div class="media-right">
      <a target="_blank"  href="https://www.amazon.com/gp/product/B0150TYVGY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0150TYVGY&linkCode=as2&tag=scratch0679-20&linkId=979b713d9a351d629980346839db073d"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0150TYVGY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=scratch0679-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=scratch0679-20&l=am2&o=1&a=B0150TYVGY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> 
    </div>
  </div>

</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}
