{% extends "base.html" %}
{% block title %}Signups{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

  <div class="row">

  <h2 class="page-header">Messages</h2>

  </div> <!-- row -->

  <div class="row">

    <div class="panel panel-default">
    	<div class="panel-body">
			<p>Welcome to the 2024 HP Sand Volleyball League! Remember, I'm continuously working on the site so if things break it's probably because I'm working on something and things will get fixed quickly. Please be patient.</p>
			<p>Right now we have <a href="signup">signups</a> working and once you sign up, you can record your <a href="availability">availability</a>. To navigate, use the menu at the top of the page. Go ahead and log in using your Google account, then sign up by providing your name and notification email. It is probably best to use your hp email because meeting invites will be sent to whatever email you enter. That way you can add the meeting to your Outlook calendar.</p>
			<p>The <a href="week">Schedule</a> and <a href="day">Scores</a> pages are where you go to see the weekly and daily schedules. On the <a href="week">Schedule</a> page, click on a day to see the game schedule and score entry form.</p>
			<p><strong class="text-danger">The weekly schedule will automatically generate at 2pm on Fridays.</strong> So be sure to get your scores into the system right after your match, especially if you play on a Friday.</p>
            <p><strong class="text-danger">I strongly suggest you set a reminder for yourself every Friday morning, to update your availability for the following week.</strong> If you have a lunch meeting or even a critical meeting at 1pm, mark that day as unavailable. Otherwise you may forget and you may be scheduled for a match you can't attend or finish.</p>
			<p class="bg-info"><strong>Subs:</strong> If you cannot make a match, there is a button to press on the Weekly Schedule page to ask for a substitute. The system will send an email to the group and if someone can play, they will click the link in the email and the system will make the swap.</p>
			<p><strong class="text-danger">If you don't show up to your match, your opposite/rival cannot play either.</strong> This will keep the teams even, and hopefully incentivize you and your opposite/rival to make sure you both show up!</p>
			<p>Anyone can sub for anyone! Even if you've already played or are scheduled to play that week! Full teams FTW!</p>
			<p>In order to accomodate players of all levels of ability, we are using the ELO system. Players will be scheduled to play with and against other players of similar skill level. Each week, the results will be analyzed and the ELO scores of each player will be updated and the schedule will be based on the new ELO scores. This should create a self-correcting system that allows everyone to play and contribute at their level of skill. Note: New players with no history will start relatively low, but can quickly move up by winning. Players from previous seasons will inherit some of their previous ELO score.</p>
            <p>The winner of the league will be the player with the highest points-per-game. Players only gain points when they win a game, and they gain points equal to the average ELO score of the team they beat. For each player, all gained points are totalled and divided by the number of games played. The result is points-per-game and is visible on the <a href="standings">Standings</a> page for players who have played at least half of the total possible games.
			<p>Let's have some fun!<br>
			- Brian -</P>
     	</div>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}