{% extends "base.html" %}
{% block title %}Standings{% endblock %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->

	<div class="row">
		<h2 class="page-header">Standings</h2>
	</div>
  <div class="row">

  <div class="col-sm-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        Standings
        <span class="badge pull-right">{{ player_list|length }}</span> 
      </div>
      <table class="table table-hover">
          <tr>
            <th>Rank</th>
            <th>Name (<a href="?sort=elo">Elo</a>)</th>
              <th><a href="?sort=ppg" data-toggle="tooltip" title="When you win, you get points equal to the average ELO score of your opponent. When you lose you get zero points. This is your average points per game.">Points Per Game (Min={{min_games}})</a></th>
              <th>Win-Loss (Win%)</th>
          </tr>{%
		for player in player_list %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{player.name}} ({{player.elo_score}})</td>
            <td>{{player.points_per_game}}</td>
            <td>{{player.wins}}-{{player.games - player.wins}} ({{win_percentage[player.id]}}%)</td>
          </tr>{%
		endfor %}
      </table>
    </div>
  </div>

  </form>
  </div> <!-- row -->



</div> <!-- center col -->

<div class="col-md-2">
</div>

{% endblock %}