{% extends "base.html" %}
{% block title %}Week {{week}} Schedule{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
    // Function to display modal
    function showModal(title, message, button) {
        var modalHtml = `
            <div class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitle">Substitution</h4>
                        </div>
                        <div class="modal-body">
                            <p>${message}</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Conditional rendering of buttons -->
                            ${button === 'Confirm' ? '<button type="button" class="btn btn-default" id="confirm-button">' : '<button type="button" class="btn btn-default" id="cancel-button">'}${button}</button>
                            ${button === 'Confirm' ? '<button type="button" class="btn btn-default" id="cancel-button">Cancel</button>' : ''}
                        </div>
                    </div>
                </div>
            </div>
        `;
        $('body').append(modalHtml);
        $('.modal').show();
        
        // Handle Confirm button click
        $('#confirm-button').on('click', function() {
            $('.modal').hide();
            
            // Make AJAX post request
            $.ajax({
                url: 'week',  // Update with your server endpoint
                method: 'POST',  // Use the appropriate HTTP method
                data: {
                    action: 'Confirm',
                    id: "{{ sub_id }}",
                    w: {{ week }},
                    s: {{ slot }}
                },
                success: function(response) {
                    showModalBase(response.title, response.message, response.button, response.url);
                },
                error: function(xhr, status, error) {
                    // Handle error response from server
                    console.error(error);
                }
            });
        });

        // Handle Cancel and Close button click
        $('#cancel-button, #close-button').on('click', function() {
            $('.modal').hide();
            window.location.href = "week";
        });
    }

    {% if slot and sub_id %}
        showModal("{{ modal_data.title }}", "{{ modal_data.message }}", "{{ modal_data.button }}");
    {% endif %}

    // Form for substitute request submission AJAX code
    $('form').submit(function(e) {
        e.preventDefault();  // Prevent the default form submission
        console.log("Submit button clicked.")
        // Serialize form data
        var formData = $(this).serialize();
        // Capture the value of the clicked button

        // Send AJAX request to server
        $.ajax({
            url: 'week',  // Update with your server endpoint
            method: 'POST',  // Use the appropriate HTTP method
            data: formData,
            success: function(response) {
                showModalBase(response.title, response.message, response.button, response.url);
            },
            error: function(xhr, status, error) {
                // Handle error response from server
                console.error(error);
            }
        });
    });

});
</script>

<div class="col-md-2">
</div>

<div class="col-md-8"> <!-- center col -->
	<div class="row">
	<h2 class="page-header">Week {{week}} Schedule</h2>
	</div>
	<div class="row" align="center">
		<H3>{% if week>1 %}<a href="?w={{week-1}}{% if year != current_year %}&y={{year}}{% endif %}"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>{% endif %} Week {{week}}{% if week < numWeeks %}<a href="?w={{week+1}}{% if year != current_year %}&y={{year}}{% endif %}"><span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>{% endif %}</H3>
	</div>
	<div class="col-sm-2">
	<div class="panel panel-danger">
		<div class="panel-heading">
			On Bye
		</div>
		<ul class="left-aligned">{% for p in schedule_data %}{% if p.slot == 0 and p.position == 0 %}
			<li>{{p.name}}</li>{% endif %}{% endfor %}
		</ul>
	</div>
	</div>
	{% for x in range(1,5+1) %}<div class="col-sm-2">
	<div class="panel linked panel-success">
		<div class="panel-heading" align="center">
			{{slots[x-1].strftime("%a %m/%d")}}
		</div>
		<a href="day?w={{week}}&d={{x}}{% if year != current_year %}&y={{year}}{% endif %}"></a>
		<center><strong>Players</strong></center>
		<ol class="left-aligned">{% for p in schedule_data %}{% if p.slot == x %}
			<li>{{p.name}}</li>{% endif %}{% endfor %}
		</ol>
		<center><strong>Alternates</strong></center>
		<ol class="left-aligned">{% for p in schedule_data %}{% if p.slot == 0 and p.position == x %}
			<li>{{p.name}}</li>{% endif %}{% endfor %}
		</ol>

	</div>
	{% if is_signed_up and (x) in active %}
	<div align="center">
		<form class="form-horizontal" action="week" method="post">
		<input type="hidden" name="y" value={{year}}></input>
		<input type="hidden" name="w" value={{week}}></input>
		<input type="hidden" name="s" value={{x}}></input>
		<input type="hidden" name="id" value={{player.id}}></input>
		<input type="hidden" name="action" value="Sub"></input>
		<button class="btn btn-block btn-danger" type="submit">I need a sub!</button>
	</div>{% endif %}	</div>{% endfor %}
</div>

<div class="col-md-2">
</div>

{% endblock %}